body{
    background: linear-gradient(to right,rgb(243, 255, 192),rgb(235, 135, 215)) no-repeat center/cover;
    padding: 100px;
}
img{
    width: 30%;
    height: 30%;
    border-style: solid;
    border-color: rgb(111, 111, 11);
    margin-top: 50px;

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    margin: 50px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(95, 160, 159);
     
}
h1,h2{
    text-align: center;
    color: rgb(138, 127, 255);
    box-sizing: border-box;
}
p{
    text-align: center;
    color: rgb(255, 64, 0);
}
